#server-name-button {
  width: 240px;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  height: 49px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #2F3136;
  position: relative;
  outline: none;
  user-select: none;
}

#server-name-button:hover {
  animation: server-name-bg-change 0.2s ease-out 0s 1 forwards;
}

@keyframes server-name-bg-change {
  from { background-color: #2F3136; }
  to { background-color: #36393f; }
}

#server-name-button span {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

#user-name-button {
  display: flex;
  align-items: center;
}

#user-name-button-content {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#user-name-button-username {
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

#user-name-button-usertag {
  color: #b9bbbe;
  font-size: 12px;
  line-height: 13px;
}

#user-name-avatar-button {
  height: 32px;
  background-color: inherit;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

#user-name-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

#user-name-box {
  margin-left: 5px;
}

#user-logout-button-button {
  width: 25px;
  height: 25px;
  margin-left: 114px;
  background-color: inherit;
  outline: none;
  cursor: pointer;
}

#user-logout-button-image {
  width: 25px;
  height: 25px;
  fill: rgb(93, 96, 105);
}

#user-logout-button-button:hover #user-logout-button-image{
  fill: rgb(145, 149, 163);
}

#user-logout-button-button:hover .tooltip {
  display: block;
  margin-top: -50px;
}

#user-name-avatar-button:hover .tooltip {
  display: block;
  margin-top: -50px;
  margin-left: -25px;
}