#server-name-dropdown {
  position: absolute;
  width: 220px;
  display: none;
  top: 55px;
  left: 5px;
  border-radius: 5px;
  background-color: #18191C;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.60);
  padding: 5px;
}

#server-name-button:focus #server-name-dropdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  outline: none;
}

#server-name-dropdown:hover {
  display: flex;
  align-items: center;
  flex-direction: column;
  outline: none;
}

.server-name-dropdown-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #18191C;
  width: 210px;
  height: 40px;
  border-radius: 5px;
  font-size: 12px;
  color: rgba(255,255,255,0.6);
  cursor: pointer;
}

.server-name-dropdown-item:hover {
  background-color: #202225;
  color: rgba(255,255,255,1);
}

.server-name-dropdown-item p {
  margin-left: 5px;
}

.server-name-dropdown-item svg {
  margin-right: 5px;
}
