#main-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: stretch;
  position: absolute;
  width: 100%;
  height: 100%;
}

#server-bar {
  width: 72px;
  height: auto;
  max-height: 100%;
  overflow: auto;
  padding-top: 12px;
  background-color: #202225;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#channel-bar-container {
  width: 240px;
  height: 100%;
  background-color: #2f3136;
  display: flex;
  flex-direction: column;
}

#content-header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#channel-bar {
  height: calc(100% - 49px);
}

#user-name-button {
  height: 52px;
  background-color: #292b2f;
}

#content-outer-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100%;
  height: 100%;
}

#content-body-container {
  display: flex;
  flex-direction: row;
  height: calc(100% - 49px);
}

#header-bar {
  flex-grow: 1;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  min-height: 52px;
  background-color: #36393f;
  box-sizing: border-box;
}

#message-box {
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  background-color: #36393f;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  position: relative;
}

#message-box-inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#users-bar {
  width: 240px;
  height: calc(100% - 49px);
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #2f3136;
}


