.message-actions-panel {
  position: absolute;
  bottom: 5px;
  right: 30px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: #36393F;
  display: none;
}

.message-first-container:hover .message-actions-panel {
  display: block;
}

.message-other-container:hover .message-actions-panel {
  display: block;
}

.message-edit-button:hover {
  background-color: #474A50;
}

.message-edit-button:hover .message-edit-icon path {
  fill: #7289DA;
}

.message-delete-button:hover {
  background-color: #474A50;
}

.message-delete-button {
  width: 36px;
  height: 36px;
  border-radius: 2px;
  background-color: #36393F;
  outline: none;
}

.message-delete-icon path {
  fill: rgba(255,255,255,0.6);
}

.message-delete-button:hover .message-delete-icon path {
  fill: #f04747;
}

.message-edit-button {
  width: 36px;
  height: 36px;
  border-radius: 2px;
  background-color: #36393F;
  outline: none;
}

.message-edit-icon path {
  fill: rgba(255,255,255,0.6);
}

.message-delete-cancel-button {
  width: 98px;
  height: 38px;
  padding: 2px 16px;
  border-radius: 3px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  outline: none;
  color: white;
  background-color: inherit;
  cursor: pointer;
}