.message-first-container:hover, .message-other-container:hover {
  background-color: rgba(4, 4, 4,0.07);
}

.message-other-container:hover .message-content-time {
  visibility: visible;
}

.message-first-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 17px;
  padding-top: 5px;
  position: relative;
}

.message-first-body {
  display: flex;
  flex-direction: column;
  margin-left: 21px;
  width: 95%;
}

.message-header-container {
  display: flex;
  flex-direction: row;
}

.message-user-image {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.message-first-content-text {
  line-height: 28px;
}

.message-header-username {
  font-weight: bold;
}

.message-header-time {
  font-size: 12px;
  line-height: 15px;
  margin-left: 10px;
  color: #72767d;
}

.message-other-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.message-content-time {
  visibility: hidden;
  width: 52px;
  font-size: 12px;
  line-height: 15px;
  margin-left: 10px;
  color: #72767d;
}

.message-content-text {
  margin-left: 9px;
  line-height: 28px;
}

.message-edit-box-form {
  width: 100%;
}

.message-edit-box-input {
  height: 22px;
  min-width: 95%;
  padding: 11px 10px;
  border-radius: 5px;
  border: 0px;
  background-color: #40444B;
  color: rgb(255,255,255);
  outline: none;
  margin-right: 100px;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.message-edit-box-footer {
  font-size: 12px;
  color: rgba(255,255,255,0.6);
  margin-bottom: 10px;
}

.message-edited {
  font-size: 10px;
  line-height: 28px;
  color: rgba(255,255,255,0.2);
  margin-left: 5px;
}

.message-edit-inline-button {
  margin-left: 4px;
  margin-right: 4px;
  background-color: inherit;
  color: #7289DA;
  outline: none;
  cursor: pointer;
}

.message-edit-inline-button:hover {
  text-decoration: underline;
}