.message-first-container:hover, .message-other-container:hover {
  background-color: rgba(4, 4, 5,0.07);
}

.message-other-container:hover .message-content-time {
  visibility: visible;
}

.message-first-container {
  display: flex;
  flex-direction: row;
  margin-top: 17px;
}

.message-first-body {
  display: flex;
  flex-direction: column;
  margin-left: 21px;
}

.message-header-container {
  display: flex;
  flex-direction: row;
}

.message-user-image {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.message-first-content-text {
  line-height: 28px;
}

.message-header-username {
  font-weight: bold;
}

.message-header-time {
  font-size: 12px;
  line-height: 15px;
  margin-left: 10px;
  color: #72767d;
}

.message-other-container {
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.message-content-time {
  visibility: hidden;
  width: 52px;
  font-size: 12px;
  line-height: 15px;
  margin-left: 10px;
  color: #72767d;
}

.message-content-text {
  margin-left: 9px;
  line-height: 28px;
}
