#message-box-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5px;
  left: 20px;
  right: 5px;
  bottom: 100px;
}

#message-box-inner-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  color: #DCDDDE;
}

.message-block:first-child {
  margin-top: auto !important;
}

