.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  width: 100%;
  height: 100%;
  animation: darken 0.12s linear 0s 1 forwards;
}

@keyframes darken {
  from { background: rgba(0, 0, 0, 0.2); }
  to { background: rgba(0, 0, 0, 0.7); }
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 540px;
  height: 420px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.modal-child-invite {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 440px;
  height: 360px;
  border-radius: 5px;
  background-color: #36393f;
  display: flex;
  justify-content: center;
}

