#server-invite-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: invite-form-slide-in 0.3s ease-out 0s 1 forwards;
}

@keyframes invite-form-slide-in {
  from { top: 100px }
  to { top: 0px }
}

#server-invite-form-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#server-invite-form-label {
  color: white;
  font-size: 16px;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: left;
  padding: 20px 5px;
}

#server-invite-form-image {
  width: 408px;
  height: 176px;
  margin-top: 12px;
  margin-bottom: 32px;
}

#server-invite-subheader {
  font-size: 13px;
  color: #B9BBBE;
  margin-bottom: 12px;
}

#server-invite-input-container {
  width: 380px;
  height: 20px;
  padding: 10px;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
}

#server-invite-form-input {
  background-color: transparent;
  border: 0px;
  outline: none;
  font-size: 16px;
  height: 20px;
  padding: 10px;
  width: 307px;
  color: #DCDDDE;
}

#server-invite-copy-button {
  box-sizing: content-box;
  width: 42px;
  height: 28px;
  padding: 2px 16px;
  background-color: #7289DA;
  color: #DCDDDE;
  border-radius: 3px;
}