.server-bar {
  
}

.server-bar-separator {
  width: 32px;
  min-height: 2px;
  margin-bottom: 8px;
  background-color: rgba(255,255,255,0.05);
} 

.server-bar-server-button {
  width: 48px;
  height: 48px;
  background-color: #7289DA;
  border-radius: 50%;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  outline: none ;
}

.server-bar-server-button:hover {
  animation: change-border-radius 0.2s linear 0s 1 forwards;
}

@keyframes change-border-radius {
  from { border-radius: 50%; }
  to { border-radius: 35%; }
}


.server-bar-server-button:hover div{
  display: block;
}

.server-button-hover-label {
  position: absolute;
  width: fit-content;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 3px;
  height: 15px;
  padding: 2px;
  left: 75px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 16px;
  display: none;
}

.server-button-active .server-bar-server-button {
  border-radius: 35%;
}

#server-bar-home-button {
  background-color: #36393F;
}

#add-server-button-container {
  min-height: 48px;
  background-color: #36393F;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-server-button-icon {
  color: #43b581;
  width: 24px;
  height: 24px;
}

#add-server-button-container:hover {
  animation: change-background-color 0.5s ease-in-out 0s 1 forwards;
}

@keyframes change-background-color {
  from { background-color: #36393F; border-radius: 50% }
  to { background-color: #43B581; border-radius: 35% }
}

#add-server-button-container:hover #add-server-button-icon path {
  animation: change-icon-color 0.5s ease-in-out 0s 1 forwards;
}

@keyframes change-icon-color {
  from { fill: #43B581 }
  to { fill: #FFFFFF }
}

.server-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.server-image:hover {
  animation: change-border-radius 0.2s linear 0s 1 forwards;
}

.server-button-active .server-image {
  border-radius: 35%;
}
