@font-face {
  font-family: 'WhitneyBold';
  src: url('/assets/WhitneyBold.otf')
}

@font-face {
  font-family: 'Whitney';
  src: url('/assets/Whitney.otf')
}

html {
  background-color: #26262b;
}

#splash-flex-container {
  display:flex;
  align-items: center;
  flex-direction: column;
}

#splash-header-flex-container {
  padding: 10px 0px 10px 0px;
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 1600px;
  height: 56px;
  width: 100%;
}

#splash-header-left-flexbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
}

#splash-header-right-flexbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

#splash-header-logo {
  height: 36px;
  user-select: none;
}

#splash-header-label {
  height: 36px;
  user-select: none;
}

#splash-header-github-logo {
  padding: 20px;
  width: 20px;
  height: 20px;
  user-select: none;
}

#splash-header-login-button {
  color:hsla(0,0%,100%,.8);
  background-color: transparent;
  border: 2px solid hsla(0,0%,100%,.8);
  border-radius: 20px;
  line-height: 24px;
  text-decoration: none;
  width: 69px;
  height: 32px;
  padding: 0px 17px;
  font-size: 14px;
  user-select: none;
}

#splash-header-login-button:hover {
  color: hsla(0,0%,100%,1);
  border: 2px solid hsla(0,0%,100%,1);
}

#splash-body-flex-container {
  width: 710px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 68px;
}

#splash-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 710px;
}

#splash-h1 {
  color: white;
  font-family: WhitneyBold,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

#splash-p {
  color: hsla(0,0%,100%,.8);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 11px;
  max-width: 710px;
}

#splash-button-container {
  display: flex;
  flex-direction: row;
  width: 710px;
  height: 45px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.splash-button {
  width: 250px;
  height: 45px;
  margin: 20px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 3px;
  position: relative;
  top: 0px;
  transition: top 0.1s;
}

#splash-demo-button {
  background-color: #FFFFFF;
  color: #000000;
}

#splash-register-button {
  background-color: #7289DA;
  color: #FFFFFF;
}

.splash-button:hover {
  top: 1px;
}

#splash-images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 1500px;
  height: 638px;
  overflow: hidden;
  margin-top: 1px;
}

.splash-image {
  position: absolute;
  left: 50%;
  user-select: none;
}

.splash-shape {
  position: absolute;
  left: 50%;
  opacity: 0.3;
  user-select: none;
}

#splash-images-monitor {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  user-select: none;
}

#splash-images-laptop {
  z-index: 2;
  margin-left: -4px;
  bottom: 10px
}

#splash-images-controller {
  z-index: 2;
  margin-left: -255px;
  bottom: 10px
}

#splash-images-mobile1 {
  z-index: 2;
  margin-left: -548px;
  bottom: 10px
}

#splash-images-mobile2 {
  z-index: 2;
  margin-left: -402px;
  bottom: 10px
}

#splash-images-potion {
  z-index: 1;
  margin-left: -609px;
  bottom: 10px
}

#splash-images-cd {
  z-index: 1;
  margin-left: 423px;
  bottom: 10px
}

#splash-images-headset {
  z-index: 3;
  margin-left: 270px;
  bottom: 142px;
  transform: scale(0.75);
}

#splash-images-coinbox {
  z-index: 0;
  margin-left: -239px;
  bottom: 462px;
}

#splash-shapes-dot1 {
  z-index: 0;
  margin-left: -599px;
  bottom: 200px;
}

#splash-shapes-dot2 {
  z-index: 0;
  margin-left: -319px;
  bottom: 600px;
}

#splash-shapes-dot3 {
  z-index: 0;
  margin-left: 181px;
  bottom: 500px;
}

#splash-shapes-dot4 {
  z-index: 0;
  margin-left: 531px;
  bottom: 600px;
}

#splash-shapes-dot5 {
  z-index: 0;
  margin-left: 621px;
  bottom: 140px;
}

#splash-shapes-triangle1 {
  z-index: 0;
  margin-left: -579px;
  bottom: 300px;
}

#splash-shapes-triangle2 {
  z-index: 0;
  margin-left: 31px;
  bottom: 550px;
}

#splash-shapes-triangle3 {
  z-index: 0;
  margin-left: -289px;
  bottom: 448px;
}

#splash-shapes-circle1 {
  z-index: 0;
  margin-left: -359px;
  bottom: 530px;
}

#splash-shapes-circle2 {
  z-index: 0;
  margin-left: 576px;
  bottom: 280px;
}

#splash-shapes-circle3 {
  z-index: 0;
  margin-left: -199px;
  bottom: 88px;
}

#splash-shapes-cross1 {
  z-index: 0;
  margin-left: -579px;
  bottom: 510px;
}

#splash-shapes-cross2 {
  z-index: 0;
  margin-left: 541px;
  bottom: 220px;
}

#splash-shapes-square1 {
  z-index: 0;
  margin-left: 331px;
  bottom: 600px;
}

#splash-shapes-square2 {
  z-index: 0;
  margin-left: 431px;
  bottom: 400px;
}

#splash-shapes-square3 {
  z-index: 0;
  margin-left: 17px;
  bottom: 92px;
}

$splash-bomb-bottom: 335px;
$splash-coin1-bottom: 300px;
$splash-coin2-bottom: 530px;
$splash-disk-bottom: 392px;
$distance: 10px;

#splash-shapes-square3 {
  z-index: 0;
  margin-left: 17px;
  bottom: 92px;
}

#splash-float-bomb {
  z-index: 0;
  margin-left: -481px;
  bottom: 335px;
  animation: bomb-anim 1.5s ease-in-out 0.4s infinite alternate;
}

@keyframes bomb-anim {
  from { bottom:$splash-bomb-bottom }
  to { bottom:$splash-bomb-bottom + $distance }
}

#splash-float-disk {
  z-index: 0;
  margin-left: 250px;
  bottom: 392px;
  animation: disk-anim 1.5s ease-in-out 0s infinite alternate;
}

@keyframes disk-anim {
  from { bottom:$splash-disk-bottom }
  to { bottom:$splash-disk-bottom + $distance }
}

#splash-float-coin1 {
  z-index: 1;
  margin-left: -428px;
  bottom: 300px;
  animation: coin1-anim 1.5s ease-in-out 0s infinite alternate;
}

@keyframes coin1-anim {
  from { bottom:$splash-coin1-bottom }
  to { bottom:$splash-coin1-bottom + $distance }
}

#splash-float-coin2 {
  z-index: 1;
  margin-left: 80px;
  bottom: 530px;
  animation: coin2-anim 1.5s ease-in-out 0s infinite alternate;
}

@keyframes coin2-anim {
  from { bottom:$splash-coin2-bottom }
  to { bottom:$splash-coin2-bottom + $distance }
}

#splash-footer-flex-container {
  width: 100%;
  height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

#splash-footer-links-container {
  display:flex;
  flex-direction: row;
  height: 149px;
}

#splash-footer-background {
  width: 100%;
  position: relative;
  bottom: -50px;
}

#splash-footer-logo {
  height: 35px;
}

#splash-footer-links-container {
  width: 100%;
  max-width: 1600px;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.splash-footer-links-ul {
  height: 100%;
  margin: 0px 16px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.splash-footer-links-ul h3 {
  font-size: 14px;
  font-weight: 500;
  color: hsla(0,0%,100%,1);
  margin-bottom: 13px;
}

.splash-footer-links-ul p {
  font-size: 14px;
  line-height: 20px;
  color: hsla(0,0%,100%,0.6);
}

.splash-footer-links-ul:hover {
  color: hsla(0,0%,100%,1);
}

#splash-footer-signup-container {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 35px;
  border-top: 1px solid hsla(0,0%,100%,0.1);
  bottom: 87px;
}

#splash-footer-signup-button {
  background-color: #7289DA;
  color: #FFFFFF;
  width: 112px;
  height: 46px;
  font-size: 15px;
  line-height: 15px;
  border-radius: 3px;
}

#splash-footer-signup-container h2 {
  color: #FFFFFF;
  font-size: 26px;
  line-height: 34px;
}

#splash-footer-signup-container h3 {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  margin-top: 4px;
}