// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @font-face {
//   font-family: 'Helvetica Neue';
//   src: url('/assets/HelveticaNeue Medium.ttf')
// }

#app-div {
  background-color: #202225;
}

#splash-component-div {
  display:flex;
  align-items: center;
  flex-direction: column;
}

#splash-body-flex-container {
  width: 710px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#splash-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 710px;
}

#splash-h1 {
  color: white;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

#splash-p {
  color: hsla(0,0%,100%,.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 12px;
}

#splash-button-container {
  display: flex;
  flex-direction: row;
  width: 710px;
  justify-content: center;
}

.splash-button {
  width: 250px;
  height: 45px;
  margin: 20px;
  font-size: 15px;
  border-radius: 3px;
  position: relative;
  top: 0px;
  transition: top 0.1s;
}

#splash-demo-button {
  background-color: #FFFFFF;
  color: #000000;
}

#splash-register-button {
  background-color: #7289DA;
  color: #FFFFFF;
}

.splash-button:hover {
  top: 1px;
}

#splash-images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 1500px;
  height: 638px;
  overflow: hidden;
}

.splash-image {
  position: absolute;
  left: 50%;
}

.splash-shape {
  position: absolute;
  left: 50%;
  opacity: 0.3;
}

#splash-images-monitor {
  position: absolute;
  z-index: 1;
}

#splash-images-laptop {
  z-index: 2;
}

#splash-images-controller {
  z-index: 2;
  margin-left: -255px;
}

#splash-images-mobile1 {
  z-index: 2;
  margin-left: -548px;
}

#splash-images-mobile2 {
  z-index: 2;
  margin-left: -401px;
}

#splash-images-potion {
  z-index: 1;
  margin-left: -609px;
}

#splash-images-cd {
  z-index: 1;
  margin-left: 423px;
}

#splash-images-headset {
  z-index: 3;
  margin-left: 270px;
  bottom: 132px;
  transform: scale(0.75);
}

#splash-images-coinbox {
  z-index: 0;
  margin-left: -239px;
  bottom: 452px;
}

#splash-shapes-dot1 {
  z-index: 0;
  margin-left: -599px;
  bottom: 200px;
}

#splash-shapes-dot2 {
  z-index: 0;
  margin-left: -319px;
  bottom: 600px;
}

#splash-shapes-dot3 {
  z-index: 0;
  margin-left: 181px;
  bottom: 500px;
}

#splash-shapes-dot4 {
  z-index: 0;
  margin-left: 531px;
  bottom: 600px;
}

#splash-shapes-dot5 {
  z-index: 0;
  margin-left: 621px;
  bottom: 140px;
}

#splash-shapes-triangle1 {
  z-index: 0;
  margin-left: -579px;
  bottom: 300px;
}

#splash-shapes-triangle2 {
  z-index: 0;
  margin-left: 31px;
  bottom: 550px;
}

#splash-shapes-circle1 {
  z-index: 0;
  margin-left: -359px;
  bottom: 530px;
}

#splash-shapes-circle2 {
  z-index: 0;
  margin-left: 576px;
  bottom: 280px;
}

#splash-shapes-cross1 {
  z-index: 0;
  margin-left: -579px;
  bottom: 510px;
}

#splash-shapes-cross2 {
  z-index: 0;
  margin-left: 541px;
  bottom: 220px;
}

#splash-shapes-square1 {
  z-index: 0;
  margin-left: 331px;
  bottom: 600px;
}

#splash-shapes-square2 {
  z-index: 0;
  margin-left: 431px;
  bottom: 400px;
}

#splash-shapes-square3 {
  z-index: 0;
  margin-left: 17px;
  bottom: 92px;
}
