#users-bar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#users-bar-user-list {
  margin-top: 10px;
}

#users-bar-user-header {
  padding: 24px 8px 0px 16px;
  width: 208px;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: #8E9297;
}

.users-bar-user-name {
  width: 208px;
  height: 42px;
  padding: 0px 8px;
  text-align: center;
  line-height: 42px;
  font-size: 16px;
  color: #8E9297;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.users-bar-user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.users-bar-user-text {
  margin-left: 10px;
}

.users-bar-user-name:hover {
  background-color: rgba(79,84,92,0.16);
  color: #FFFFFF;
}