.tooltip {
  width: 80px;
  height: 40px;
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px;
  margin-left: -34px;
  display: none;
  animation: tooltip-fade 0.15s ease-out 0s 1 forwards;
}

@keyframes tooltip-fade {
  from { background-color: rgba(0,0,0,0.0); color: rgba(255,255,255,0) }
  to { background-color: rgba(0,0,0,0.7); color: rgba(255, 255, 255,1) }
}

#channel-list-create-button:hover .tooltip {
  display: block;
  margin-top: -65px;
  z-index: 100;
}

.channel-list-button:hover .tooltip {
  display: block;
  margin-top: -50px;
  z-index: 100;
}